#chat ::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

#chat .ce-message-bubble.ce-my-message-bubble {
	background-color: #ff5a52 !important;
}

.ce-message-bubble {
	border-radius: 1.5rem !important;
}

.ce-chat-title-text,
.ce-chat-subtitle-text {
	color: #ef4444 !important;
}

#ce-send-message-button {
	background-color: #ff5a52 !important;
}

.ce-chat-feed-container {
	min-height: 65vh !important;
}

.ql-editor {
	white-space: initial !important;
}

.ce-feed-container-top {
	height: 0 !important;
}

#ce-send-message-button svg {
	transform: translateY(-20%);
}

#ce-feed-container {
	max-height: 75vh !important;
}

#msg-form-container {
	/* transform: translateY(20%) !important ; */
}
